@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap");
:root {
  --colorArticle: #f4f4f6;
  --colorFondo: #ffffff;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  width: auto;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: "Inter", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
header {
  line-height: 2rem;
  padding: 2% 4%;

  && p {
    display: inline;
  }
  && h2 {
    transition-duration: 0.5;
    width: fit-content;

    :hover {
      background-color: red;
    }
  }
}
.bio {
  background-color: var(--colorFondo);
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
  overflow: hidden;
  padding: 24px;
}
article {
  background-color: var(--colorArticle);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}
.mgs {
  display: flex;

  && .foto {
    width: 30%;

    && img {
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }
  && .comentarios {
    display: grid;
    font-size: 14px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    && p {
      background-color: lightgray;
      margin-block-end: 1em;
      margin-block-start: 1em;
      margin-inline-end: 0px;
      margin-inline-start: 2px;
    }
  }
}
.habilidades {
  line-height: 2rem;
  min-width: 40%;
}
.objetivo {
  flex: 1;
  line-height: 2rem;
  min-width: 50%;
}
.stack {
  min-width: 300px; /* Tendria q modificar este tamaño */
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.scroller {
  width: 100%;
  height: 100%;
  & .scroller__inner {
    width: fit-content;
    display: flex;
    gap: 1rem;
    padding-block: 1rem;
    & img {
      width: 50px;
    }
  }
}
.scroller[data-animated="true"] {
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  overflow: hidden;
}
.scroller[data-animated="true"] .scroller__inner {
  flex-wrap: nowrap;

  animation: scroll var(--_animation-duration, 10s)
    var(--_animation-direction, forwards) linear infinite;
}
.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.intereses {
  min-width: 33%;
  white-space-collapse: preserve-breaks;
  width: fit-content;
}
.contacto {
  line-height: 2rem;

  p {
    width: fit-content;
  }
  div {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;

    picture {
      display: block;
      font-size: 14px;
      padding: 2%;
      text-align: center;
    }
    img {
      width: 50px;
    }
  }
}
@media (max-width: 809px) {
  .bio {
    display: grid;
  }
  article {
    display: grid;
    width: 100%;
  }
  .mgs {
    display: grid;

    /* Lo tengo que machacar con el de arriba */
    && .foto {
      min-width: 100%;

      && img {
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
    }
    && .comentarios {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  .stack {
    width: 100%;
    
  }

  /* TEngo que poner algo del stack en pantallas medianas */
}
@media (min-width: 810px) and (max-width: 1279px) {
}
